nav {
    background:#898999;
    text-align:center;
    font-size:135%;
    font-family: Arial, "Time New Roman";
    padding:1%;
}

nav a{
    color:white;
    display:block;    
    margin:2%;
    text-decoration:none;
    border:1px solid white;
    border-radius: 90px;
    padding:1%;
    transition: .5s ease;
}

nav a:hover {
    background:purple;
    color:white;
    text-decoration:none;
}

section{
    width:50%;
    height:100%;
    margin:0 auto;
    padding:1%;
}

img {
    margin-left:40%;
    margin-top:2%;
}

@media all and (min-width:900px){
    nav {
    background:#898999;
    text-align:center;
    font-size:150%;
    font-family: Arial, "Time New Roman";
    float:left;
    height:100vh;
    width:20%;
}

nav a{
    color:white;
    display:block;
    margin:10%;
    text-decoration:none;
    border:1px solid white;
    border-radius: 90px;
}

img {
    float:left;
    margin:3%;
}

}

   