nav.navbar {
    background: hsl(0, 0%, 96%);
    color: hsl(0, 0%, 4%);
    font-family: 'News Cycle', sans-serif;

}

.navbar-brand {
    /*center text in nav bar*/
    margin: 0 auto;
    font-size: 30px;
}

#bio {
    margin-top: 1%;
}

.is-parent, .is-child {
    background: hsl(0, 0%, 100%);
}

.is-parent {
    border: solid 2px;
    font-family: 'News Cycle', sans-serif;
    color: hsl(0, 0%, 4%);

}